[submodule "src/cf-containers-broker"]
	path = src/cf-containers-broker
	url = https://github.com/cloudfoundry-community/cf-containers-broker
[submodule "src/dingo-postgresql-clusterdata-backup"]
	path = src/dingo-postgresql-clusterdata-backup
	url = https://github.com/dingotiles/dingo-postgresql-clusterdata-backup.git
[submodule "src/dingo-postgresql-broker"]
	path = src/dingo-postgresql-broker
	url = https://github.com/dingotiles/dingo-postgresql-broker.git
[submodule "src/dingo-postgresql-fog-check"]
	path = src/dingo-postgresql-fog-check
	url = https://github.com/dingotiles/dingo-postgresql-fog-check
