{{range $index, $name := ls "/routing/allocation"}}
{{$name}}
{{if eq $index 0}}
# TCP services
{{end}}
{{$port := (printf "/routing/allocation/%s" $name | getv)}}
{{$leader := (printf "/service/%s/leader" $name | getv)}}
{{$leader_info := (printf "/service/%s/members/%s" $name $leader | getv)}}
listen {{$name}}_{{$port}}
  mode tcp
  bind *:{{$port}}
  {{$leader}}
  {{$leader_info}}
{{end}}
