{{range $index, $name := ls "/routing/allocation"}}
{{$port := (printf "/routing/allocation/%s" $name | getv)}}
{{$leader_port := (printf "/cluster/%s/leader/port" $name | getv)}}
listen {{$name}}_{{$port}}
  mode tcp
  bind *:{{$port}}
  server {{$name}} {{(printf "/cluster/%s/leader/host" $name | getv)}}:{{$leader_port}}
{{end}}
