---
platform: linux
image_resource:
  type: docker-image
  source: {repository: dingotiles/dingo-postgresql-release-pipeline}

inputs:
- name: boshrelease
- name: boshrelease-ci
- name: edge-image
  path: images/dingotiles_dingo_postgresql95_latest_image
- name: docker-image-registrator
  path: images/cfcommunity_registrator_latest_image

outputs:
- name: boshrelease-images-updated

params:
  aws_access_key_id:
  aws_secret_access_key:

run:
  path: boshrelease-ci/ci/tasks/bump-image-layers.sh
