export AWS_ACCESS_KEY_ID=AKIAJDGUHGCW2J2TRQUA
export AWS_SECRET_ACCESS_KEY=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
export WAL_S3_BUCKET=wale-test
export PATRONI_SCOPE=beatles_cluster
export HOST_IP=$(docker-machine ip)
export ETCD_CLUSTER=${HOST_IP}:4001
